<h1 class="titleFont">{{title}}</h1>
{{#each descriptions}}
<div>
    <p>{{this.title}}</p>
    <img src="/images/bStone.webp">
    {{#each this.parentItem}}
        <div class="nameBox">
            <h2>{{this.itemName}}</h2>
        </div>
        <div class="regText">
            <p>Quality: {{this.quality}}</p>
            <p>Released on the {{this.versionReleased}} version of the game.</p>
        </div>
    {{/each}}
    <div class="boxText">
        <p>{{this.content}}</p>
    </div>
</div>
{{/each}}